header{
    background-color: yellow;
    height: 40px;
    padding: 8px 10px 10px 10px;
    font-weight: bold;
}
#header-left{
    float: left;
}
#header-right{
    float: right;
}
nav{
    background-color: rgb(44, 157, 223);
    height: 40px;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}
.logo{
    float: left;
    padding: 5px 10px;
}
.menu{
    float: right;
    padding: 10px;
}
.menu >a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
    text-transform: uppercase;
}
.banner{
    background-position: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.content1{
    padding: 10px 20px;
    text-align: center;
}
.content1-item{
    display: inline-block;
    height: 190px;
    width: 30%;
    background-color: lightgray;
    text-align: left;
    margin: 0px 5px;
}
.content1-item>h3{
    border-bottom: 1px solid black;
    margin-left: 15px;
}
.content1-item>p{
    margin: 0px 15px;
    text-align: justify;
}
.content2{
    text-align: center;
        margin: 0px 30px 0px 40px;
}
.content2-item1{
    border: 5px solid rgb(23, 156, 233);
    background-image:url("back.jpg") ;
    color: aliceblue;
    font-size: 40px;
    background-position: cover;
    background-repeat: no-repeat;
    float: left;
    width: 50%; 
    height: 120px;
}
.content2-item2{

    float: right ;
    height: 130px;
    width: 45%;
    background-color: rgb(222, 236, 139);
    text-align: left;
    margin: 0px 9px;

}
.content2-item2>h3{
    border-bottom: 1px solid black;
    margin-left: 15px;
}
.content2-item2>p{
    margin: 0px 15px;
    text-align: left;
    margin-right: 90px;